<?xml version="1.0"?>
<!--
Copyright (c) 2015, Marcel Hauri
All rights reserved.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE
LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
POSSIBILITY OF SUCH DAMAGE.

@copyright Copyright 2015, Marcel Hauri (https://github.com/mhauri/magento-hipchat/)

@category Notification
@package mhauri-hipchat
@author Marcel Hauri <marcel@hauri.me>
-->
<config>
    <modules>
        <Mhauri_HipChat>
            <version>0.1.0</version>
        </Mhauri_HipChat>
    </modules>
    <global>
        <helpers>
            <mhauri_hipchat>
                <class>Mhauri_HipChat_Helper</class>
            </mhauri_hipchat>
        </helpers>
        <models>
            <mhauri_hipchat>
                <class>Mhauri_HipChat_Model</class>
            </mhauri_hipchat>
        </models>
        <resources>
            <mhauri_hipchat_setup>
                <setup>
                    <module>Mhauri_HipChat</module>
                </setup>
            </mhauri_hipchat_setup>
        </resources>
        <events>
            <sales_order_place_after>
                <observers>
                    <notifyNewOrder>
                        <type>singleton</type>
                        <class>Mhauri_HipChat_Model_Observer</class>
                        <method>notifyNewOrder</method>
                    </notifyNewOrder>
                </observers>
            </sales_order_place_after>
            <admin_session_user_login_failed>
                <observers>
                    <notifiyAdminUserLoginFailed>
                        <type>singleton</type>
                        <class>Mhauri_HipChat_Model_Observer</class>
                        <method>notifiyAdminUserLoginFailed</method>
                    </notifiyAdminUserLoginFailed>
                </observers>
            </admin_session_user_login_failed>
        </events>
    </global>

    <adminhtml>
        <translate>
            <modules>
                <mhauri_hipchat>
                    <files>
                        <default>Mhauri_HipChat.csv</default>
                    </files>
                </mhauri_hipchat>
            </modules>
        </translate>
    </adminhtml>

    <default>
        <hipchat>
            <general>
                <enable>0</enable>
                <log>0</log>
                <from_name>Magento HipChat</from_name>
                <token/>
                <room_id/>
            </general>
            <notification>
                <new_order>0</new_order>
            </notification>
        </hipchat>
    </default>

</config>